# Ignore Python virtual environments
.venv/
venv/

# Ignore cache, temp and model files
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.bin
*.pt
*.safetensors
*.zip
*.dll

# Ignore Streamlit local files
.streamlit/secrets.toml

